.remote
  = simple_form_for(@order, :html => one_submit_only, :remote => true) do |f|
    = link_to_close edit_order_path(@order)

    = f.hidden_field :user_id
    -#= render "lead"
    = render "account"
    .section
      %table
        %tr
          %td
            .label Status
            = f.select :status, Setting.unroll(:order_status), { :selected => (@order.status || "new").to_sym }, { :style => "width:160px" }

          %td= spacer
          %td
            .label.req State of Incorporate
            = f.select :state_of_incorporate, @us_states , {:selected => (@order.state_of_incorporate || ""), :include_blank => true}, { class: "business_rule_filter",:style => "width:160px" }
          %td= spacer
          %td
            .label.req Request Type
            = f.select :request_type, Setting.unroll(:order_request_type), {:selected => (@order.request_type || ""), :include_blank => true}, {class: "business_rule_filter",:required => true, :style => "width:160px" }
    .section
      %table
        %tr
          %td
            .label.req #{t :assign_to}:
            = f.select :assigned_to, @sales_managers, {:selected => (@order.assigned_to || "Unassigned")}, { :style => "width:160px" }
    = render "opportunity"
    -#= render "task"
    %h3 Add Files
    #attachments
      = f.fields_for :order_files do |of|
        -#= render "order_file_fields", :f => of
      .links
        = link_to_add_association "add" , f, :order_files
    #required_files
      - if !@br_attachments.nil?
        %h4 Required Files:
        - @br_attachments.each do |a|
          .required_attached_file{:id => "required_attached_file_#{a.id}"}
            = link_to "#{a.file_name}", a.attachment.url,:id => "#{a.id}", :target => "_blank"
            -#= link_to "x", "#",:id => "#{a.id}",:class=> "remove_attachment"
            %br
    #web
      - if !@br_web.nil?
        State Website : #{link_to @br_web, @br_web.to_url, target: :_blank}
    %h4 Attached Files:

    - if !@attachments.nil?
      -@attachments.each do |a|
        .attached_file{:id => "attached_file_#{a.id}"}
          = link_to "#{a.file_name}", a.attachment.url,:id => "#{a.id}", :target => "_blank"
          = link_to "x", "#",:id => "#{a.id}",:class=> "remove_attachment"
          %br

    .buttonbar
      = f.submit t(:save_order)
      #{t :or}
      = link_to_cancel edit_order_path(@order)