%h3 FORM FOR NEW ACCOUNT CATEGORIES
= form_for([:admin, @account_category], :html => one_submit_only, :remote => true) do |f|
  = link_to_close new_admin_dropdown_option_path
  = f.error_messages
  #create_br_error
  -#= render :partial => "top_section", :locals => { :f => f }
  .section
    %table
      %tr
        %td
          .label.req #{t :source}:
          = f.text_field :name, :required => true, :style => "width:110px; text-align:right;"

  .buttonbar
    = f.submit "Create Referral Source"
    or
    = link_to_cancel new_admin_dropdown_option_path