= form_for([:admin, @business_rule], :html => one_submit_only, :remote => true) do |f|
  = link_to_close new_admin_business_rule_path
  = f.error_messages
  #create_br_error
  -#= render :partial => "top_section", :locals => { :f => f }
  .section
    %table
      %tr
        %td
          .label.req State of Incorporate
          = f.select :state_of_incorporate, @us_states , {:selected => (@business_rule.state_of_incorporate || ""), :include_blank => true}, { :style => "width:160px" }
        %td= spacer
        %td
          .label.req Request Type
          = f.select :request_type, Setting.unroll(:order_request_type), {:selected => (@business_rule.request_type || ""), :include_blank => true}, {:required => true, :style => "width:160px" }
  .section
    %table
      %tr
        %td
          .label.req #{t :amount} #{t :currency}:
          = f.text_field :amount,:required => true, :style => "width:110px; text-align:right;"
        %td= spacer
        %td
          .label Web
          = f.text_field :web, :style => "width:110px; text-align:right;"

  = f.file_field :documents, multiple: true
  .buttonbar
    = f.submit t(:create_business_rule), :id => :business_rule_submit
    or
    = link_to_cancel new_admin_business_rule_path